.Youtube {
	h1 {
		width: 90vw;
	}

	.content {
		h1 {
			text-align: center;
		}
		.name {
			position: absolute;
			left: 50%;
			transform: translate(-50%, -50%);
			top: 70vh;
			font-size: 1.5rem;
			margin-bottom: 5vh;
			margin: -7vh auto;
			border-bottom: 1px solid black;
			padding-bottom: 5vh;
		}
		article {
			width: 55vw;
			height: 40vh;
			margin: 5vw auto;
			display: flex;
			justify-content: space-between;
			position: relative;
			top: 30vh;
			z-index: 1;

			filter: grayscale(80%);

			transition: 0.3s;
			box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.3);

			&:nth-of-type(1) {
				.txtBox {
					width: 100vw;
					height: 100%;
					position: relative;
					bottom: 0;
					font: bold 2vw 'arial';
					.titBox {
						width: 40%;
						height: 100%;
						left: 0;
						position: absolute;
						display: flex;
						justify-content: center;
						align-items: center;
						transition: 0.2s;
					}
					.conBox {
						width: 40%;
						height: 100%;
						top: 0;
						left: 40%;
						display: flex;
						position: absolute;
						justify-content: center;

						align-items: center;

						width: 40%;
						transition: 0.2s;
					}
					.dateBox {
						width: 20%;
						height: 100%;
						top: 0;
						left: 80%;
						position: absolute;
						display: flex;
						justify-content: center;
						align-items: center;
						transition: 0.2s;
					}
				}
			}

			&:hover {
				filter: grayscale(0%);
				opacity: 1;

				.txtBox {
					color: #fff;
				}

				.picBox {
					transform: scale(1.03);
					filter: blur(5px);
				}
				.picBox1 {
					filter: blur(10px);
				}
			}

			.txtBox {
				width: 100vw;
				height: 100%;
				position: relative;
				bottom: 0;
				font: bold 2vw 'arial';
				.titBox {
					width: 40%;
					height: 100%;
					left: 0;
					position: absolute;
					display: flex;
					justify-content: center;
					align-items: center;
					transition: 0.2s;
					padding: 10px;
				}
				.conBox {
					width: 40%;
					height: 100%;
					top: 0;
					left: 40%;
					display: flex;
					position: absolute;
					justify-content: center;
					padding: 10px;

					align-items: center;
					transition: 0.2s;

					width: 40%;

					p {
					}
				}
				.dateBox {
					width: 20%;
					height: 100%;
					left: 80%;
					position: absolute;
					display: flex;
					justify-content: center;
					padding: 10px;
					margin-top: 30%;
					transition: 0.2s;
				}
			}
		}

		.picBox {
			width: 100%;
			height: 40vh;
			overflow: hidden;
			position: absolute;
			z-index: -1;
			transition: 0.2s;

			right: 0;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transform: scale(1.5);
			}
		}
		.picBox1 {
			width: 100%;
			height: 40vh;
			overflow: hidden;
			position: absolute;
			z-index: -1;
			right: 0;
			transition: 0.2s;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transform: scale(1.5);
			}
		}
	}
}

.mobile {
	.Youtube {
		.content {
			article {
				width: 100%;
				margin-top: 10vh;
				.txtBox {
					.dateBox {
						padding-top: 20%;
					}
				}
			}
		}
	}
}
