.Youtube {
	h1 {
		width: 90vw;
	}
	overflow: hidden;

	.content {
		h1 {
			text-align: center;
		}
		.line {
			width: 50vw;
			height: 1px;
			border: 1px solid black;
			margin-bottom: 100px;
			margin: 0 auto;
		}
		.name {
			position: absolute;
			left: 50%;
			transform: translate(-50%, -50%);
			top: 70vh;
			font-size: 1.5rem;
			margin-bottom: 10vh;
			margin: 0 auto;
			.line2 {
				position: absolute;
				width: 50vw;
				height: 1px;
				border: 1px solid black;

				top: 15vh;
				margin-bottom: 100px;
			}
		}
		article {
			width: 55vw;
			height: 40vh;
			margin: 5vw auto;
			display: flex;
			justify-content: space-between;
			position: relative;
			top: 30vh;
			z-index: 1;

			filter: grayscale(80%);

			transition: 0.3s;
			opacity: 0.5;
			box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.3);

			&:nth-of-type(1) {
				.txtBox {
					width: 100vw;
					height: 100%;
					position: relative;
					bottom: 0;
					.titBox {
						width: 100%;
						height: 40%;
						border: 1px solid red;
						position: absolute;
						display: flex;
						justify-content: center;
						align-items: center;
					}
					.conBox {
						display: flex;
						justify-content: center;
						align-items: center;
						position: absolute;
						top: 40%;
						width: 100%;
						height: 40%;
						border: 1px solid red;

						p {
						}
					}
					.dateBox {
						display: flex;
						justify-content: center;
						align-items: center;
						position: absolute;
						top: 80%;
						width: 100%;
						height: 20%;
						border: 1px solid red;
					}
				}
			}

			&:hover {
				filter: grayscale(0%);
				opacity: 1;

				.picBox {
					transform: scale(1.03);
					filter: blur(5px);
				}
			}
			.txtBox {
				position: relative;
				width: 55vw;
				bottom: 0;
				.titBox {
					position: absolute;

					.line1 {
					}
					h2 {
					}
				}
				.conBox {
					position: absolute;

					p {
					}

					.line1 {
					}
				}

				.dateBox {
					position: absolute;
				}
			}

			.picBox {
				width: 100%;
				height: 40vh;
				overflow: hidden;
				position: absolute;
				z-index: -1;
				transition: 0.2s;

				right: 0;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					transform: scale(1.5);
				}
			}
			.picBox1 {
				width: 100%;
				height: 40vh;
				overflow: hidden;
				position: absolute;
				z-index: -1;
				right: 0;
				transition: 0.2s;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					transform: scale(1.5);
				}
			}
		}
	}
}
