.Members {
	.content {
		table {
			width: 100%;
			border: none;
			border-top: 2px solid #333;
			border-bottom: 2px solid #333;

			th {
				width: 20%;
				border: none;
				border-bottom: 1px solid #bbb;
				padding: 15px 30px;
				text-align: left;
				&:last-child {
					text-align: center;
					input[type='submit'],
					input[type='reset'] {
						border: none;
						font-weight: bold;
						background: #0095ffc3;
						color: #fff;
						width: 150px;
						height: 30px;
						display: inline-flex;
						justify-content: center;
						margin: 0px 70px;
						cursor: pointer;
						&:hover {
							background: #0095ff6f;
							color: #000;
						}
					}
				}
			}
			td {
				border: none;
				border-bottom: 1px solid #bbb;
				border-left: 1px solid #bbb;
				padding: 15px 30px;

				input[type='text'],
				input[type='password'],
				textarea,
				select {
					width: 30%;
					height: 5vh;
					border: none;
					border-bottom: 1px solid #bbb;
					padding: 6px 10px;
					background: #eee;
					transition: 0.3s;
					&:hover {
						width: 50%;
					}
				}
				input[type='checkbox'],
				input[type='radio'],
				label {
					margin-right: 20px;
				}
				p {
					font: 0.8rem/1.2 '돋음';
					color: pink;
					margin-top: 5px;
				}
			}
		}
	}
}

//tablet mediaquert
.tablet {
	.Members {
		.content {
			table {
				td {
					input[type='text'],
					input[type='password'],
					textarea,
					select {
						width: 100%;
					}
				}
			}
		}
	}
}

.mobile {
	.Members {
		.content {
			table {
				th {
					display: none;
					&:last-child {
						display: block;
						width: 100%;
					}
				}
				td {
					width: 100%;
					border-left: none;
					padding: 20px;
					input[type='text'],
					input[type='password'],
					textarea,
					select {
						width: 100%;
					}
				}
			}
		}
	}
}
