.Gallery {
	.searchBox {
		input[type='text'] {
			width: 40vw;
			height: 5vh;
			border: none;
			font-size: 1rem;

			&:hover {
				background: #ddd;
			}
			&:active {
				background: #fff;
			}
		}
		button {
			width: 10vw;
			height: 5vh;
			border: none;
			background: #ccc;
			&:hover {
				background-color: #bbb;
			}
		}
	}
	.btnSet {
		width: 100vw;
		button {
			width: 25vw;
			height: 10vh;
			border: none;
			background: #fff;
			&.on {
				background: #777;
				color: #fff;
			}
		}
	}

	.picFrame {
		width: 100%;

		&::after {
			content: '';
			display: block;
			clear: both;
		}
		article {
			width: 25%;
			padding: 10px;
			float: left;
			.inner {
				width: 100%;
				padding: 10px;
				background: #fff;
				box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
				.pic {
					width: 100%;
				}
				h2 {
					font: normal 1rem/1.2 'arial';
					color: #555;
					margin-top: 10px;
					margin-bottom: 40px;
				}
				.profile {
					width: 100%;
					display: flex;
					align-items: center;
					gap: 20px;
					span {
						font-size: 0.8rem;
					}
				}
			}
		}
	}
}
.laptop {
	.Gallery {
		.picFrame {
			article {
				width: 32%;
			}
		}
	}
}

.tablet {
	.Gallery {
		.searchBox {
			input[type='text'] {
				width: 70vw;
				height: 5vh;
				border: none;
				font-size: 1rem;

				&:hover {
					background: #ddd;
				}
				&:active {
					background: #fff;
				}
			}
			button {
				width: 20vw;
				height: 5vh;
				border: none;
				background: #ccc;
				&:hover {
					background-color: #bbb;
				}
			}
		}
		.btnSet {
			width: 90vw;
			button {
				width: 45vw;
				height: 10vh;
				border: none;
				background: #fff;
				&.on {
					background: #777;
					color: #fff;
				}
			}
		}
		.picFrame {
			article {
				width: 48%;
			}
		}
	}
}
.mobile {
	.Gallery {
		.searchBox {
			input[type='text'] {
				width: 70vw;
				height: 5vh;
				border: none;
				font-size: 1rem;

				&:hover {
					background: #ddd;
				}
				&:active {
					background: #fff;
				}
			}
			button {
				width: 20vw;
				height: 5vh;
				border: none;
				background: #ccc;
				&:hover {
					background-color: #bbb;
				}
			}
		}
		.btnSet {
			width: 90vw;
			button {
				width: 45vw;
				height: 10vh;
				border: none;
				background: #fff;
				&.on {
					background: #777;
					color: #fff;
				}
			}
		}
		.picFrame {
			article {
				width: 100%;
			}
		}
	}
}
