.header {
	width: 90%;
	margin: 0 auto;
	padding: 3vh 2vw 3vh 2vw;
	display: flex;
	justify-content: space-between;
	position: relative;
	gap: 1vw;
	border-bottom: 1px solid #000;
	.bars {
		position: absolute;
		opacity: 0;
		right: 10vw;
	}
	.btnTheme {
		cursor: pointer;
		color: red;
	}

	h1 {
		font-size: 1.5rem;
		color: #333;
	}

	ul {
		display: flex;
		gap: 4vw;
		align-items: center;
		font-size: 1rem;
		color: #888;

		li {
			a.active {
				color: #000;
				font-size: 1.2rem;
			}
		}
	}
}

.header.main {
	h1 {
		color: aqua;
	}
}

.header.sub {
	h1 {
		color: hotpink;
	}
}

.mobile {
	.header {
		.bars {
			right: 0;
		}
		ul {
			display: none;
		}
		.bars {
			opacity: 1;
			&:hover {
				color: red;
			}
		}
	}
}
